[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "csunyy.github.io"]
	path = csunyy.github.io
	url = https://github.com/csunyy/csunyy.github.io.git
	branch = master
